
#root {
  width: 100%;
}
.container {
  max-width: '100%' !important;
}
body{
	background-color:white;
  max-width: 100%;
  overflow-x: hidden;
}
.table .thead-light th {
 
  color:white;
 
  background-color: #0275d8;
 
  border-color: #0275d8;
 
}





.hiddenRow {
    padding: 0 !important;
}

.card{
  width: max;
}

.organizationContent{
  display: flex; justify-content: space-evenly; align-items: center}