
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
  }
.container{
  border: none;
}

body{
	background-color:white;
  max-width: 100%;
  overflow-x: hidden;
  
}

.navbar-nav{
  flex-direction: row;
  
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.formHeader{
  border-color: black;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.border {
  border: 0px solid #dee2e6!important;
}

.table .thead-light th {
 
  color:white;
 
  background-color: #0275d8;
 
  border-color: #0275d8;
 
}


.icons{
  text-align: right;
  float: right;
}


.hiddenRow {
    padding: 0 !important;
}



.card{
  display: flex;
}

.organizationContent{
  display: flex; justify-content: space-evenly; align-items: center}



  